---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.1.201/32
  - 192.168.1.202/32
  - 192.168.1.203/32
  - 192.168.1.204/32
  - 192.168.1.205/32
  - 192.168.1.206/32
  - 192.168.1.207/32
  - 192.168.1.208/32
  - 192.168.1.209/32
  - 192.168.1.210/32


---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: example
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool

